<%- include('./partials/head') %>
<main>
  <section class="menu">
    <div class="filter">
      <h2>Filter</h2>
      <h3>klas</h3>
      <form action="">
        
        <label>
          <input type="checkbox">1D
        </label>
        
        <label>
          <input type="checkbox">1E
        </label>
    
        <label>
          <input type="checkbox">1F
        </label>
    
      </form>
    
      <h3>geslacht</h3>
      <form action="">
        
        <label>
          <input type="checkbox">Man
        </label>
    
        <label for="">
          <input type="checkbox">Vrouw
        </label>
    
      </form>
    </div>
    <div class="sort">
      <h2>Sorteren</h2>
      <h3>Naam</h3>
      <form action="">
    
        
        <label for="">
          <input type="radio">A-Z
        </label>
        
        <label for="">
          <input type="radio">Z-A
        </label>
    
      </form>
      <h3>ID</h3>
      <form action="">
    
        <label for="">
          <input type="radio">hoog-laag
        </label>
        
        <label for="">
          <input type="radio">laag-hoog
        </label>
    
      </form>
    </div>
    </section>
    <section class="students">
    <div>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <div>
      <ul>
        <% persons.forEach(person => { %>
          <li>
            <dl>
              <dt>Naam</dt>
              <dd><a href="./person/<%= person.id %>"><%= person.name %></a></dd>
              <dt>Achternaam</dt>
              <dd><%= person.surname %></dd>
              <dt>Squad</dt>
              <dd><%= person.squad_id %></dd>
              <dt>Bio</dt>
              <dd><%= person.bio %></dd>
            </dl>
            <img src="<%= person.avatar %>" alt="">
          </li>
        <% }) %>
      </ul>  
    </div>
    </section>
</main>
<h2>Students</h2>
<ul>
  <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul>

<%- include('./partials/foot') %>