<%- include('./partials/head') %>
<details>
  <summary>Zoeken</summary>
  <form action="/search">
    <input type="text" name="search" placeholder="Zoeken...">
    <input type="submit" value="Zoek"></input>
  </form>
</details>

<h2>Huidige berichten</h2>
<ul>
<% messages.forEach(message => { %>
    <li><%= message %></li>
    <% }) %>
</ul>

<form method="POST" action="/">
<label>
    Berichtje:
    <textarea required name="bericht"></textarea>
</label>
<button type="submit">Verzend bericht</button>
</form>


<section class="button_container">
  <a href="/squad/3">D</a>
  <a href="/squad/4">E</a>
  <a href="/squad/5">F</a>
</section>

<section class="content-container">
  <ul class="content">

    <% persons.forEach(person => { %>
        <li class="squadpage"><a href="./person/<%= person.id %>"><%= person.name %></a></li>
    <% }) %>
</ul>


</section>
<!-- <h2>Students</h2>
<ul>
  <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul> -->

<%- include('./partials/foot') %>