<%- include('./partials/head') %>
<main>
  <!--meet the squad-->
  <section class="meet-the-squad">
      <h2>Meet the squad...</h2>
  </section>
  <!--  filters-->
  <div class="filters">
      <div class="filters-container">
          <button id="group">Group</button>
          <button id="filter">Filter</button>
          <div class="underline"></div>
      </div>
  </div>

  <!--content-->
  <div class="content">
      <article class="squadpage">
<div class="carousel">
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>


</div>

      </article>
  </div>
</main>
<h2>Students</h2>
<ul>
  <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul>

<%- include('./partials/foot') %>